.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#banner-img {
  height: 39px;
  margin-right: 16px;
}

#allGraph-div{
  margin-left: 2%;
}

#profile-div {
  width: 1000px;
  border: 1px solid;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-bottom: 8px;
}

#profile-headline-div {
  background-color: black;
  color: white;
  font-size: 20pt;
  text-align: left;
  padding-left: 12px;
  margin-bottom: 4px;
}

#profile-left-span {
  width: 398px;
  display: inline-block;
  text-align: left;
  padding-left: 20px;
}

#profile-right-span {
  width: 598px;
  display: inline-block;
  text-align: left;
}

.profile-title-strong {
  font-size: 16pt;
}

.profile-left-p {
  width: 398px;
  height: 24px;
  display: inline-block;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile-right-p {
  width: 598px;
  height: 24px;
  display: inline-block;
  margin-bottom: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#copy-to-clipboard-bearerToken-button {
  background: none;
  border: none;
  outline: none;
}

#timespan-div {
  width: 480px;
  height: 36px;
  margin-top: 24px;
  margin-bottom: 16px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid;
  border-radius: 5px;
}

.timespan-button {
  width: 70px;
  height: 26px;
  margin-left: 4px;
  margin-right: 4px;
  margin-top: 4px;
  /* background-color: skyblue; */
  border: none;
  outline: none;
  border-radius: 40px;
}
